[Unit]
 Description=NPM Guard Supply Chain Security Daemon
 After=network.target

[Service]
Type=simple
User=mrepol742
WorkingDirectory=/opt/npm-guard
ExecStart=/opt/npm-guard/.venv/bin/python /opt/npm-guard/main.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
